body{
    margin: 0;
}
.navbar{
    position: absolute;
    z-index: 6;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.navbar a {
    color: #fff;
    font-size:30px;
    font-weight:bold;
    text-decoration: none;
}

.slot .staff {
    background-color: #eee;
    box-shadow: inset 0 0 5px #ddd;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: "Lucida Grande", verdana, sans-serif!important;
    padding: 5px;
    list-style-type: none;
    overflow: auto;
    margin: 0 0 1px 0;
    color: #000!important;
    clear: both;
}
.slot .staff h2 {
    color: #000!important;
    margin: 0 5px;
    font-size: 16px;
    background: none!important;
}
.slot .staff h2 a {
    text-decoration: underline;
    font-size: 80%;
}
.slot .staff .dim {
    opacity: 0.6;
}
.slot .staff li {
    float: left;
    padding: 2px 5px;
}
.slot .staff li a {
    display: block;
    padding: 0 6px;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px #ccc;
}
.slot .staff li a:hover {
    background: #444;
    color: #fff;
}
.slot .staff-bottom {
    clear: both;
}
.slot .prohibited .staff {
    background: #cc0000;
    color: #eee;
}
.slot .prohibited {
    opacity: 0.5;
}
.slot .ui-sortable-placeholder {
    border: 1px dotted #aaa;
    border-radius: 10px;
    visibility: visible !important;
    height: 100px !important;
}
#portletStaffToggleOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    display: none;
    color: #fff;
    z-index: 10000;
    box-shadow: 0 0 3px #333;
}
#portletStaffToggleOverlay a {
    display: block;
    padding: 10px;
    width: 200px;
    font-family: "Lucida Grande", verdana, sans-serif;
    color: #000!important;
}
#portletStaffOverlay {
    font-family: "Lucida Grande", verdana, sans-serif;
    position: fixed;
    top: 40px;
    left: 0;
    padding: 0;
    background-color: #eee;
    display: none;
    color: #000;
    z-index: 9000;
    border-radius: 0 0 10px 0;
}
#portletStaffOverlay a {
    color: #000!important;
}
#portletcategories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#portletcategories > li {
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    clear:both;
    width: 220px;
}
#portletcategories li a {
    display: block;
    padding: 5px 4px 4px;
}
#portletcategories > li > a {
    padding: 3px 10px 2px;
    border-bottom: 1px solid #ccc;
}
#portletcategories li.active {
    background: #ddd;
}
#portletcategories li a:hover {
    background: #ddd;
}
#portletcategories ul {
    list-style-type: circle;
    position: absolute;
    left: 220px;
    margin: -26px 0 0;
    padding: 0;
    display:none;
    font-size: 13px;
    background: #eee;
    /*width: 750px;*/
    max-height: 280px;
    overflow: auto;
}
#portletcategories ul li {
    font-weight: normal;
    margin: 0;
    padding: 0;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*float: left;*/
    clear: none;
}
#portletStaffOverlay h2 {
    cursor: pointer;
}
#closePortletStaffOverlay {
    margin: 4px 10px;
    display: block;
}
.draggable{
    list-style-type: none;
}
#widgets{
    padding:0;
    margin: 0;
}
.container,
.homeSuccess,
.homePrograms,
.homeTop,
.homeTop .searchFilter{
    position: relative
}
.homeTop .background,
.homePrograms .background
{
    min-height:1100px;
    width: 100%;
    height: 100%;
}

.homeTop h2 {
    position: absolute;
    top: 500px;
    left: 64px;
    font-size: 136px;
    line-height: 136px;
    color: #FFFFFF;
}
.homeTop .searchFilter {
    position: absolute;
    width: 90%;
    height: 72px;
    left: 64px;
    top: 800px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: 5;
}
.homeTop .searchFilter input{
    width: 100%;
    height: 100%;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 141%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}
.homeTop .searchFilter img{
    position: absolute;
    height: 40px;
    top: 20px;
    left: 5px;
}
.homeTop .carousel{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 80px;
    width: 100%;
}
.homeTop .carousel .post{
    border-top: 3px solid;
    border-top-color: #FFFFFF;
}
.homeTop .carousel .post h4,
.homeTop .carousel .post h3{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
}
.homeSuccess{
    width: 100%;
    height: 800px;
    background: linear-gradient(
        to right,
        #ECF1F4 0%,
        #ECF1F4 50%,
        #2ECEC3 50%,
        #2ECEC3 100%
    );
}
.homeTop  .darker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 50%,rgba(0,0,0,0.75) 85%)
}
.neu-btn {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: -50px;
    transform: translate(-50%, -50%);
    background-color: #a5a5a5;
    width: 150px;
    height: 50px;
    font-family: "Raleway";
    font-size: large;
    border-radius: 20px;
    border: none;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25), -8px -8px 12px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.neu-btn:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25) inset, -8px -8px 12px rgba(255, 255, 255, 0.3) inset;
}
.homeSuccess .background{
    position: absolute;
    width: 400px;
    height: 500px;
    top: 25%;
    left: 45%;
}
.homeSuccess .widgetTitle{
    position: absolute;
    width: 478px;
    height: 234px;
    left: 130px;
    top: 343px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 111.6%;
    letter-spacing: -0.02em;
    color: #000000;
}
.homeSuccess .secondaryText{
    position: absolute;
    top: 200px;
    left: 140px;
    font-size: 30px;
}
.homeSuccess .mainText,
.homeSuccess .sometext{
    font-size: 50px;
    position: absolute;
    right: 10%;
    width: 300px;
    top: 30%;
    color: #ffffff;
    font-weight: bold;
 }
.homeSuccess .sometext
{
    font-size: 20px;
    top: 55%;
}
.homeSuccess .explore{
    position: absolute;
    width: 236px;
    height: 64px;
    right: 13%;
    top: 65%;
    background: #000000;
    border-radius: 3px;
    color: #ffffff;
    font-size:20px;
}
.homeSuccess .explore:hover,
.homePrograms .exploreProgram:hover{
    background: #ffffff;
    color: #000000;

}
.homePrograms .programs {
    display: flex;
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
}
.homePrograms .background{
    max-height: 800px;
    filter: brightness(80%);

}
.homePrograms h2.programsTitle {
    font-size: 100px;
    margin-top:40px;
}
.homePrograms{
    color: #ffffff;
    font-weight: bold;
}
.homePrograms .programMainText {
    font-size: 30px;
    padding-right: 150px;
}
.homePrograms .programsLeft{
    width: 80%;
}
.homePrograms .exploreProgram{
    width: 220px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: solid white 2px;
}
.homePrograms .program{
    border-top: solid white 2px;
    margin-top: 30px;
    padding: 0 0 0 20px;
    width: 80%;
}
.homeStudy{
    background-color: black;
    margin-top: -5px;
}
.homeStudy span,
.homeStudy p,
.homeStudy h2{
    color: white;
}
.homeStudy .studies{
    display: flex;
    justify-content: space-between;
}
.homeStudy .study{
    display: flex;
    justify-content: space-between;
    border-left: solid white 2px;
    margin-top: 20px;
    padding-left: 10px;
}
.homeStudy img{
    margin: 15% -10%;
    width: 900px;
}
.studysLeft {
    margin: 10% 5%;
}
.homeStudy .studyTitle {
    font-size: 70px;
    width: 70%;
}
.voyager .app-footer {
    display: none;
}
.form-control.is-invalid{
    border: solid #fc0000 2px !important;
}
#addWidgetForm .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 40px;
    background-color: #eee;
    box-shadow: inset 0 0 5px #ddd;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: "Lucida Grande", verdana, sans-serif!important;
    list-style-type: none;
    overflow: auto;
    color: #000!important;
    clear: both;
}
#addWidgetForm .card .form-group{
    padding-right: 20px;
}




